__Se cargan las librerias a utilizar__

In [1]:
# se importan las librerias a utilizar.

# Se utiliza pandas para el proceso de limpieza de los datos.
import pandas as pd
import numpy as np

__Se cargan los dataframe desde el link del repo__

In [2]:
#se procede a cargar lo datos con la funci√≥n creada anteriormente y creamos los dataframe.

df_Amazon = pd.read_csv("https://raw.githubusercontent.com/HX-FAshur/PI01_DATA05/main/Datasets/amazon_prime_titles.csv")
df_Disney = pd.read_csv("https://raw.githubusercontent.com/HX-FAshur/PI01_DATA05/main/Datasets/disney_plus_titles.csv")
df_Hulu = pd.read_csv("https://raw.githubusercontent.com/HX-FAshur/PI01_DATA05/main/Datasets/hulu_titles.csv")
df_Netflix= pd.read_json("https://raw.githubusercontent.com/HX-FAshur/PI01_DATA05/main/Datasets/netflix_titles.json")

__Creamos una copia__

In [3]:
#Creamos una copia de los dataframme.
df1_amazon=df_Amazon.copy()
df1_Disney=df_Disney.copy()
df1_Hulu=df_Hulu.copy()
df1_Netflix=df_Netflix.copy()

__Damos un vistazo a los diferentes dataframes__

In [4]:
# Datos de Amazon
df1_amazon.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...

In [5]:
#datos de Disney
df1_Disney.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.

In [6]:
#Datos de Hulu
df1_Hulu.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",‚ÄãComedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...

In [7]:
#Datos de Netflix
df1_Netflix.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,None,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,None,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",None,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...

__Borramos los duplicados__

In [8]:
df1_amazon=df1_amazon.drop_duplicates()
df1_Disney=df1_Disney.drop_duplicates()
df1_Hulu=df1_Hulu.drop_duplicates()
df1_Netflix=df1_Netflix.drop_duplicates()

__Agregamos una columna que diga el tipo de plataforma__

In [9]:
df1_amazon["Plataforma"]="Amazon"
df1_Disney["Plataforma"]="Disney"
df1_Hulu["Plataforma"]="Hulu"
df1_Netflix["Plataforma"]="Netflix"

__Creamos ID compuestos seg√∫n su plataforma__

Amazon="am"

Disney="di"

Hulu="hu"

Netflix="ne"

In [10]:
df1_amazon["show_id"]=df1_amazon["show_id"]+"am"
df1_Disney["show_id"]=df1_Disney["show_id"]+"di"
df1_Hulu["show_id"]=df1_Hulu["show_id"]+"hu"
df1_Netflix["show_id"]=df1_Netflix["show_id"]+"ne"

__Se procede a concatenar los 4 Dataframe para poder trabajarlos en conjunto__

In [11]:
Frames=[df1_amazon,df1_Disney,df1_Hulu,df1_Netflix]
df_Grupal=pd.concat(Frames)
df_Grupal.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Plataforma
0,s1am,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,Amazon
1,s2am,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,Amazon

In [12]:
# se necesita saber el tipo de dato y la cantidad de nulos que tiene cada columna para poder tomar decisiones.
df_Grupal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       22998 non-null  object
 1   type          22998 non-null  object
 2   title         22998 non-null  object
 3   director      14739 non-null  object
 4   cast          17677 non-null  object
 5   country       11499 non-null  object
 6   date_added    13444 non-null  object
 7   release_year  22998 non-null  int64
 8   rating        22134 non-null  object
 9   duration      22516 non-null  object
 10  listed_in     22998 non-null  object
 11  description   22994 non-null  object
 12  Plataforma    22998 non-null  object
dtypes: int64(1), object(12)
memory usage: 2.5+ MB

In [13]:
#creamos un nuevo dataframe que va a tener separados los datos de la columna "duration"
df_dur=df_Grupal["duration"].str.split(expand=True)

#nombramos cada columna.
df_dur.rename(columns={0:"Duracion",1:"Tipo (min-Seasons)"},inplace=True)

#para cambiar el tipo de dato de la columna "duration" a int necesitamos cambiar los campos nulos por ceros(0).
df_dur["Duracion"]=df_dur["Duracion"].fillna(0)
df_dur["Tipo (min-Seasons)"]=df_dur["Tipo (min-Seasons)"].fillna(0)

#Se cambia el tipo de dato de "duracion" a int.
df_dur["Duracion"]=df_dur["Duracion"].astype("int64")

#se comprueba el cambio del tipo de dato
df_dur.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Duracion            22998 non-null  int64
 1   Tipo (min-Seasons)  22998 non-null  object
dtypes: int64(1), object(1)
memory usage: 539.0+ KB

__Concatenamos los dataframe y eliminamos las columnas viejas__

In [14]:
# se concatena los dos dataframe
df_Grupal=pd.concat([df_Grupal,df_dur],axis=1)

#Se elimina las columnas duration, date_added, rating, country, description, ya que no son relevantes para las consultas
#que vamos a realizar
df_Grupal=df_Grupal.drop(columns=["duration","date_added","rating","country","description"])

In [15]:
#completamos las columnas director y cast por "sin dato"
df_Grupal["director"]=df_Grupal["director"].fillna("sin dato")
df_Grupal["cast"]=df_Grupal["cast"].fillna("sin dato")
#usamos show_id como indice.
df_Grupal.set_index(df_Grupal["show_id"],inplace=True)
df_Grupal.head(2)

,show_id,type,title,director,cast,release_year,listed_in,Plataforma,Duracion,Tipo (min-Seasons)
show_id,,,,,,,,,,
s1am,s1am,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,"Comedy, Drama",Amazon,113,min
s2am,s2am,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,"Drama, International",Amazon,110,min

In [16]:
# Cambiar el nombre de las columnas del DF unificado asi podemos identificar r√°pidamente el contenido.
df_Grupal.rename(columns={"show_id":"id",
                        'type':'Tipo_Film',
                        'title':'Titulo',
                        'director':'Director',
                        'cast':'Reparto',
                        'release_year':'A√±o_Rodaje',
                        'listed_in':'Genero',
                        'plataform':'Plataforma'},
               inplace=True)

__Sacamos las medias de los datos de la columna "Duracion" para movie y TV show, segun su plataforma,
  para posteriormente cambiar los ceros por estas medidas encontradas__

In [ ]:
#Sacamos las medias de los datos de la columna "Duracion" para movie y TV show, segun su plataforma,
#para posteriormente cambiar los ceros por estas medidas encontradas
mean_movies = {}
mean_series = {}
for plataform in df_Grupal['Plataforma'].unique():
    mean_movies[plataform] = round(df_Grupal[(df_Grupal['Duracion'] !=0 ) & (df_Grupal['Tipo_Film']=='Movie')&(df_Grupal['Plataforma']==plataform)]['Duracion'].mean())
    mean_series[plataform] = round(df_Grupal[(df_Grupal['Duracion'] !=0 ) & (df_Grupal['Tipo_Film']=='TV Show') & (df_Grupal['Plataforma']==plataform)]['Duracion'].mean())
  
     
#Se hace el cambio de los ceros por las medidass encontradas, la cuales estan calculadas seg√∫n el tipo de pltaforma
# y segun el tipo de film.
    df_Grupal['Duracion'][df_Grupal['Duracion'].loc[(df_Grupal['Duracion'] == 0) & (df_Grupal['Tipo_Film']=='Movie') & (df_Grupal['Plataforma']==plataform)].index]=mean_movies[plataform]
    df_Grupal['Duracion'][df_Grupal['Duracion'].loc[(df_Grupal['Duracion'] == 0) & (df_Grupal['Tipo_Film']=='TV Show') & (df_Grupal['Plataforma']==plataform)].index]=mean_series[plataform]
print(mean_movies, mean_series)


#Se cambian los valores "sin dato" de las unidades de tiempo (minutos o seasons) en la columna correspondiente
df_Grupal['Tipo (min-Seasons)'][df_Grupal['Tipo (min-Seasons)'].loc[(df_Grupal['Tipo_Film']=='TV Show')].index]='season'
df_Grupal['Tipo (min-Seasons)'][df_Grupal['Tipo (min-Seasons)'].loc[(df_Grupal['Tipo_Film']=='Movie')].index] = 'min'


#Eliminamos la columna de show id de df_grupal.
#df_Grupal=df_Grupal.drop(columns=["show_id"])

__Se pasa a minuscula todos los datos para no tener problemas al momento de realizar las consultas__

In [18]:
df_Grupal['Tipo_Film']=df_Grupal['Tipo_Film'].str.lower()
df_Grupal['Titulo']=df_Grupal['Titulo'].str.lower()
df_Grupal['Director']=df_Grupal['Director'].str.lower()
df_Grupal['Reparto']=df_Grupal['Reparto'].str.lower()
df_Grupal['Genero']=df_Grupal['Genero'].str.lower()

In [19]:
df_Grupal.head(2)

,id,Tipo_Film,Titulo,Director,Reparto,A√±o_Rodaje,Genero,Plataforma,Duracion,Tipo (min-Seasons)
show_id,,,,,,,,,,
s1am,s1am,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",2014,"comedy, drama",Amazon,113,min
s2am,s2am,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",2018,"drama, international",Amazon,110,min

__Se comienza a trabajar con las columna Reparto__

In [20]:
#Convertimos los datos de la columna de Reparto a listas y despues se borra la original.
#Se convierten los actores en listas dentro del dataframe
df_Grupal['Reparto_c'] = df_Grupal["Reparto"].str.split(",")
df_Grupal['Genero_c'] = df_Grupal["Genero"].str.split(",")

#se borra la columna de Reparto y Genero originales
df_Grupal.drop(columns=['Reparto'],inplace=True)
df_Grupal.drop(columns=['Genero'],inplace=True)


#cambiamos nuevamente el nombre a Reparto y Genero para no tener confusion
df_Grupal.rename(columns={'Reparto_c':'Reparto'},inplace=True)
df_Grupal.rename(columns={'Genero_c':'Genero'},inplace=True)

__Se crea un Dataframe para los actores__

In [21]:
#Se crea un dataframe con todos los actores
dic_actores={"id":[],"Actor":[],"A√±o_Rodaje":[],"Plataforma":[]}
for index,reparto in enumerate(df_Grupal['Reparto']):
    for actor in reparto:
        #Se crea un condicional para no cargar los nombres con numero o codigos.
        if len(actor)>3 and actor !="sin dato":
        
        #Se caraga la columna id para poder relacionar
            dic_actores["id"].append(df_Grupal["id"][index])
        #aca se carga los nombres de los actores 
            dic_actores["Actor"].append(actor)
        #Se carga el a√±o de rodaje segun el indice que se esta iterando
            dic_actores["A√±o_Rodaje"].append(df_Grupal["A√±o_Rodaje"][index])
        #Se carga la plataforma donde aparece cada actor
            dic_actores["Plataforma"].append(df_Grupal["Plataforma"][index])
    

# se crea el Dataframe de los actores
df_actor = pd.DataFrame(dic_actores)

#comprobamos que el Dataframe cargue correctamente
df_actor.head(2)

     id            Actor  A√±o_Rodaje Plataforma
0  s1am  brendan gleeson        2014     Amazon
1  s1am    taylor kitsch        2014     Amazon

__Creamos un Dataframe para la columna Genero__

In [22]:
#Creamos un diccionario con los datos que van a conformar el Dataframe.
dic_genero={"id":[],"Genero":[],"A√±o_Rodaje":[],"Plataforma":[]}
for index,genero in enumerate(df_Grupal['Genero']):
    for gen in genero:
        #Se crea un condicional para no cargar los nombres con numero o codigos.
        if len(gen)>3:
        
        #Se caraga la columna id para poder relacionar
            dic_genero["id"].append(df_Grupal["id"][index])
        #aca se carga los nombres de los actores 
            dic_genero["Genero"].append(gen)
        #Se carga el a√±o de rodaje segun el indice que se esta iterando
            dic_genero["A√±o_Rodaje"].append(df_Grupal["A√±o_Rodaje"][index])
        #Se carga la plataforma donde aparece cada actor
            dic_genero["Plataforma"].append(df_Grupal["Plataforma"][index])
    

# se crea el Dataframe de los actores
df_Genero = pd.DataFrame(dic_genero)

#comprobamos que el Dataframe cargue correctamente
df_Genero.head(2)

     id  Genero  A√±o_Rodaje Plataforma
0  s1am  comedy        2014     Amazon
1  s1am   drama        2014     Amazon


__Exportamos los Dataframe como CSV__

In [23]:
df_Genero.to_csv("Genero_p.csv")
df_actor.to_csv("actores.csv")
df_Grupal.to_csv("Informacion_general.csv")